version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: wallet_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: wallet_db
    ports:
      - "5432:5432"
    volumes:
      - ./migrations:/docker-entrypoint-initdb.d
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: wallet_app
    restart: on-failure
    depends_on:
      - db
    ports:
      - "8080:8080"
    env_file:
      - config.env
    environment:
      DB_HOST: db

volumes:
  postgres_data: